body {
    height: 100%;
    margin: 0;
    background: rgb(17, 218, 151);
  }
  
h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    color: rgb(60, 40, 170);
}

canvas {
  border: 1px solid rgb(100, 112, 100);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
}

.GameOver {
  position:absolute;
  top:0;
  left:0;
  width:384px;
  padding-top:75px;
  text-align:center;
}

.Square {
  height: 35px;
  width: 35px;
  float: left;
}

.blue {
  background-color: rgb(122, 193, 240);
}

onclick="game.start()" value="Старт"